

.no_underlined {
  text-decoration: none;
}

.no_underlined:hover {
  text-decoration: none;
}

.spoiler_open,
.spoiler_close {
  display: block;
  width: 100%;
  padding-top: 15px;
  /*background: #fff;*/
  color: #000;
  cursor: default;
  text-decoration: none;
}

.spoiler_close {
  display: none;
}

.spoiler_desc {
  display: none;
  width: 100%;
  /*background: #fff;*/
  text-decoration: none;
  color: #000;
  cursor: default;
}

.spoiler_open:target {
  display: none;
}

.spoiler_open:target+.spoiler_close,
.spoiler_open:target+.spoiler_close+.spoiler_desc {
  display: block;
}

#leftMenu {
  width: 66%;
  max-width: 400px;
  opacity: 1;
  text-transform: uppercase;
  transition-property: width, opacity;
  transition-duration: .3s;
}

/*.ananov-main-color {
  background-color: #42505D !important; /* dark */
/*    color: #edd8bb !important; /* light */
  /*#F9D5A6 !important;*//* light base */
/*  }

.ananov-second-color {
  background-color: #F9D5A6 !important;
  */ /*color: #42505D !important;
  */
/*}

.ananov-main-text-color {
  color: #F9D5A6 !important;
}

.ananov-second-text-color {
  color: #2b343d !important; /* dark-2 */
  /*#42505D !important;*/
/*  } */

.ananov-category-container {
  padding: 0.01em 5px;
}

.ananov-hide {
  display: none !important
}

.ananov-show {
  display: block !important
}

.ananov-sidenav-trigger {
  float: left;
  position: relative;
  z-index: 1;
  height: 56px;
  margin: 0 18px;
}
.ananov-side-icon {
  font-size: 40px !important;
}

@media only screen and (max-width: 299px) {
  .text_size_adapt2 {
    font-size: 9px !important;
  }
}
@media only screen and (min-width: 300px) and (max-width:490px) {
      .text_size_adapt2 {
        font-size: 3.35vw !important;
      }
}
@media only screen and (min-width: 491px) {
  .text_size_adapt2 {
    font-size: 17px !important;
  }
}


@media only screen and (max-width: 302px) {
  .text_size_adapt {
    font-size: 11px !important;
  }
}
@media only screen and (min-width: 303px) and (max-width: 312px) {
  .text_size_adapt {
    font-size: 11px !important;
  }
}
@media only screen and (min-width: 313px) and (max-width: 321px) {
  .text_size_adapt {
    font-size: 11px !important;
  }
}
@media only screen and (min-width: 322px) and (max-width: 328px) {
  .text_size_adapt {
    font-size: 11.25px !important;
  }
}
@media only screen and (min-width: 329px) and (max-width: 336px) {
  .text_size_adapt {
    font-size: 11.5px !important;
  }
}
@media only screen and (min-width: 337px) and (max-width: 344px) {
  .text_size_adapt {
    font-size: 11.75px !important;
  }
}
  @media only screen and (min-width: 345px) and (max-width: 352px) {
    .text_size_adapt {
      font-size: 12px !important;
    }
  }
  @media only screen and (min-width: 353px) and (max-width: 360px) {
    .text_size_adapt {
      font-size: 12.25px !important;
    }
  }
  @media only screen and (min-width: 361px) and (max-width: 368px) {
    .text_size_adapt {
      font-size: 12.5px !important;
    }
  }
@media only screen and (min-width: 369px) and (max-width: 376px) {
  .text_size_adapt {
    font-size: 12.75px !important;
  }
}
@media only screen and (min-width: 377px) and (max-width: 384px) {
  .text_size_adapt {
    font-size: 13px !important;
  }
}
@media only screen and (min-width: 385px) and (max-width: 392px) {
  .text_size_adapt {
    font-size: 13.25px !important;
  }
}
@media only screen and (min-width: 393px) and (max-width: 400px) {
  .text_size_adapt {
    font-size: 13.5px !important;
  }
}
@media only screen and (min-width: 401px) and (max-width: 408px) {
  .text_size_adapt {
    font-size: 13.75px !important;
  }
}
@media only screen and (min-width: 409px) and (max-width: 416px) {
  .text_size_adapt {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 417px) and (max-width: 424px) {
  .text_size_adapt {
    font-size: 14.25px !important;
  }
}
@media only screen and (min-width: 425px) and (max-width: 432px) {
  .text_size_adapt {
    font-size: 14.5px !important;
  }
}
@media only screen and (min-width: 433px) and (max-width: 440px) {
  .text_size_adapt {
    font-size: 14.75px !important;
  }
}
@media only screen and (min-width: 441px) and (max-width: 448px) {
  .text_size_adapt {
    font-size: 15px !important;
  }
}
@media only screen and (min-width: 449px) and (max-width: 456px) {
  .text_size_adapt {
    font-size: 15.25px !important;
  }
}
@media only screen and (min-width: 457px) and (max-width: 464px) {
  .text_size_adapt {
    font-size: 15.5px !important;
  }
}
@media only screen and (min-width: 465px) and (max-width: 472px) {
  .text_size_adapt {
    font-size: 15.75px !important;
  }
}
@media only screen and (min-width: 473px) and (max-width: 479px) {
  .text_size_adapt {
    font-size: 16px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 489px) {
  .text_size_adapt {
    font-size: 16.25px !important;
  }
}

@media only screen and (min-width: 490px) {
  .text_size_adapt {
    font-size: 16.5px !important;
  }
}
